.stat-outer-box {
    spacing: 0px;
    padding-top: 3px;
    padding-bottom: 3px;

}

.stat-box {
    padding: 0 6px;
    spacing: 1px;
}

.stat-separator {
    /* Baseline fallback dimensions */
    width: 1px;
    height: 16px;
    margin: 0 4px;
}
